{% extends "core/layout.html" %}
<!DOCTYPE html>
{% load static %}
{% load sepet_template_tag %}
{% load widget_tweaks %}
<html lang="tr">
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
Merhaba ve hoş geldiniz!

<html>
<head>
    <title>Gizlilik Politikası</title>
</head>

<h1>Gizlilik Politikamız</h1>
<p>Benzin İstasyonu Malzemeleri Tedarik Edilen Online Websitesi olarak, müşterilerimizin gizliliğini önemsiyor ve kişisel bilgilerinizi korumak için elimizden geleni yapıyoruz. Bu gizlilik politikası, hangi tür kişisel bilgileri topladığımızı, nasıl kullandığımızı ve bu bilgileri nasıl koruduğumuzu açıklar.</p>

<h2>Hangi Bilgileri Topluyoruz?</h2>
<p>Web sitemizi ziyaret ettiğinizde, IP adresiniz, tarayıcı türünüz, ziyaret ettiğiniz sayfalar ve zaman damgası gibi standart web günlük bilgilerini toplarız. Ayrıca, ürün satın alırken veya kaydolurken adınız, e-posta adresiniz, telefon numaranız gibi kişisel bilgileri de toplayabiliriz.</p>

<h2>Bilgilerin Nasıl Kullanıldığı</h2>
<p>Topladığımız bilgileri, siparişlerinizi işlemek, hesap oluşturmak, ürünlerimizi sunmak, müşteri hizmetleri sağlamak, promosyonlar göndermek ve web sitemizin kullanımını ve güvenliğini izlemek için kullanırız.</p>

<h2>Bilgilerin Paylaşılması</h2>
<p>Kişisel bilgilerinizi üçüncü taraflarla paylaşmayız, satmayız veya kiralamayız. Ancak, hizmetlerimizin sunulması için iş ortaklarımızla veya hizmet sağlayıcılarımızla bilgi paylaşabiliriz.</p>

<h2>Çerezler</h2>
<p>Web sitemizde çerezler kullanırız. Çerezler, web sitesini daha etkili hale getirmek ve kullanıcı deneyimini geliştirmek için kullanılır. Tarayıcınızın ayarlarından çerezleri devre dışı bırakabilirsiniz.</p>

<h2>Değişiklikler</h2>
<p>Gizlilik politikamızı zaman zaman güncelleyebiliriz. Değişiklikler yayınlandığında, bu sayfada güncellenmiş bir sürüm ile birlikte geçerli olacaktır.</p>

<h2>İletişim</h2>
<p>Herhangi bir sorunuz veya endişeniz varsa, lütfen bize ulaşın: privacy@petrolist.com</p>

<p>[PETROLİST]</p>

{% endblock %}
