{% extends "core/layout.html" %}
<!DOCTYPE html>
{% load static %}
{% load sepet_template_tag %}
{% load widget_tweaks %}
<html lang="tr">
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
Merhaba ve hoş geldiniz!

<html>
<head>
    <title>Hizmet Şartları</title>
</head>

<h1>Hizmet Şartlarımız</h1>
<p>Lütfen dikkatlice okuyunuz. Bu, Benzin İstasyonu Malzemeleri Tedarik Edilen Online Websitesi'nin ("biz", "bizim" veya "bizim") hizmet şartlarıdır.</p>

<h2>Kullanım Koşulları</h2>
<p>Web sitemizi kullanarak, bu hizmet şartlarını kabul etmiş olursunuz. Bu şartlara uymamanız halinde, web sitemizi kullanmamalısınız.</p>

<h2>Güncelleme</h2>
<p>Hizmet şartlarımızı zaman zaman güncelleyebiliriz. Değişiklikler yayınlandığında, bu sayfada güncellenmiş bir sürüm ile birlikte geçerli olacaktır.</p>

<h2>Ürünler ve Hizmetler</h2>
<p>Web sitemiz aracılığıyla satılan ürünler ve hizmetler, sadece ticari amaçlarla kullanılmalıdır. Yasadışı veya yetkisiz kullanımı yasaktır.</p>

<h2>Gizlilik</h2>
<p>Müşteri gizliliği bizim için önemlidir. Gizlilik politikamız hakkında daha fazla bilgi için lütfen ayrıntılı gizlilik politikamızı okuyunuz.</p>

<h2>İletişim</h2>
<p>Herhangi bir sorunuz veya endişeniz varsa, lütfen bize ulaşın: petrolist@gmail.com.com</p>

<p>[PETROLİST]</p>

{% endblock %}
